{
  "plugins": [
    "react-css-modules",
    "@babel/plugin-proposal-export-default-from",
    "@babel/transform-runtime"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
  ]
}